obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
packages/
*_mm_cache.bin
*.user
*.userprefs
.DS_Store
*.xam
*.ldf
TestResults/
Simple.OData.ProductService/Properties/PublishProfiles/va-odata-integration - FTP.pubxml
Simple.OData.ProductService/Properties/PublishProfiles/va-odata-integration - Web Deploy.pubxml
Simple.OData.Client.AdHocTests/
Simple.OData.Client.IntegrationTests/AdHocTests.cs
Solutions/AdHocTests.sln
Solutions/.vs/config/applicationhost.config
nuget.exe
