<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NorthwindContext.EF.MF.MsSql" connectionString="metadata=res://*/NorthwindMsSql.csdl|res://*/NorthwindMsSql.ssdl|res://*/NorthwindMsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="NorthwindContext.EF.MF.Oracle" connectionString="metadata=res://*/NorthwindOracle.csdl|res://*/NorthwindOracle.ssdl|res://*/NorthwindOracle.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=Vagif;Password=Vagif;Server=localhost;Direct=True;Sid=orcl;Persist Security Info=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="NorthwindContext.EF.MF.All.MsSql" connectionString="metadata=res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.csdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.MsSql.ssdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.MsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="NorthwindContext.EF.MF.All.Oracle" connectionString="metadata=res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.csdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.Oracle.ssdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.Oracle.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=Vagif;Password=Vagif;Server=localhost;Direct=True;Sid=orcl;Persist Security Info=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="NorthwindContext.EF.CF.MsSql" connectionString="data source=.;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
  <add name="NorthwindContext.EF.CF.Oracle" connectionString="User Id=Vagif;Password=Vagif;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True"
    providerName="Devart.Data.Oracle" />
  <add name="NorthwindContext.NH.MsSql" connectionString="data source=.;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
  <!--add name="NorthwindContext.MongoDB" connectionString="mongodb://localhost/Northwind?strict=true"/-->
  <add name="NorthwindContext.MongoDB" connectionString="mongodb://localhost/ODAProviders?strict=true"/>
</connectionStrings>
