<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="sl50" />
  <package id="SilverlightToolkit-Testing" version="5.2011.12.1" targetFramework="sl50" />
</packages>